<!--*****************************
*******************************
* Created by - Malhar Deshpande
*******************************
-->

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src=".\js\moment.min.js"></script>
	<script src="/js/jquery-3.0.0.js"></script>
	<script src="/js/angular.js"></script>
	<script src="/js/main.js"></script>
	<style>
	.top-buffer{
		margin-top:	20px;
	}
	</style>
</head>
<body  ng-app="root">

	<!--Title container-->
	<div class="container text-center top-buffer">
		<h1>Welcome to the Git Repo Checker</h1>
	</div>
	<!--Main cintainer-->
	<div class="top-buffer"></div>
	<div class="container" ng-controller="LinkDisplayController as linkdisplayCtrl"	>
		<div class="col-md-3 col-md-offset-1 top-buffer" >
			<h2>Enter Git URL:</h2>
			<input type="text" ng-model="user.name" required/>
			<button ng-click="linkdisplayCtrl.fetch(user)">Submit</button>
		</div>
		<!--Analytics derived are displayed in this table using ng directives-->
		<div class="col-md-7 col-md-offset-1 top-buffer" ng-show="linkdisplayCtrl.tableGate" ng-cloak>
			<table class="table-striped">
				<tr>
					<td>Total no. of Open Issues :</td>
					<td>{{linkdisplayCtrl.logRes[0]}}</td>
				</tr>
				<tr>
					<td>Issues opened in last 24 hours: </td>
					<td>{{linkdisplayCtrl.logRes[1]}}</td>
				</tr>
				<tr>
					<td>Issues still open more than 24 hours but less than 7 days: </td>
					<td>{{linkdisplayCtrl.logRes[2]}}</td>
				</tr>
				<tr>
					<td>Issues being open for more than 7 days: </td>
					<td>{{linkdisplayCtrl.logRes[3]}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-6 col-md-offset-2 top-buffer" ng-show="linkdisplayCtrl.responseGate" ng-cloak>
			<h3>The URL did not find a response. Please enter a correct github  url</h3>
	</div>
	<div class="col-md-4 col-md-offset-6 top-buffer" style="margin-top: 80px;">
			<h4><em>- Developed by Malhar Deshpande</em></h4>
	</div>
</body>
</html>